/* [FONT STYLE] */

@font-face {
    font-family: 'Inter';
    src: url(../fonts/static/Inter-Regular.ttf) format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/static/Inter-Bold.ttf) format('ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/static/Inter-ExtraBold.ttf) format('ttf');
    font-style: normal;
    font-weight: 800;
}